<div class="layer"></div>
<!-- Mobile menu overlay mask -->

<div id="preloader">
  <div data-loader="circle-side"></div>
</div><!-- End Preload -->

<!-- Header ================================================== -->
<header>
  <div class="container">
    <div class="row">
      <div class="col--md-3 col-sm-3 col-xs-3">
        <a href="index.html" id="logo">
          <%= image_tag("logo.png", size: "190x23", data: { retina: true }) %>
        </a>
      </div>
      <nav class="col--md-9 col-sm-9 col-xs-9">
        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);">
          <span>Menu mobile</span>
        </a>
        <ul id="lang_top">
          <li><a href="#" class="active">FR</a></li>
          <li><a href="#">EN</a></li>
        </ul>
        <div class="main-menu">
          <div id="header_menu">
            <%= image_tag("logo_m.png", size: "141x40", data: { retina: true }) %>
          </div>
          <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
          <ul>
            <li class="submenu">
              <a href="javascript:void(0);" class="show-submenu">Home<i class="icon-down-open-mini"></i></a>
              <ul>
                <li><a href="index.html">Home Booking</a></li>
                <li><a href="index_5.html">Home Booking date 2</a></li>
                <li><a href="index_4.html">Home Carousel</a></li>
                <li><a href="index_2.html">Home Layer Slider</a></li>
                <li><a href="index_6.html">Home Video bg</a></li>
                <li><a href="index_3.html">Home Text Rotator</a></li>
              </ul>
            </li>
            <li><a href="room_list.html">Rooms</a></li>
            <li class="submenu">
              <a href="javascript:void(0);" class="show-submenu">Pages<i class="icon-down-open-mini"></i></a>
              <ul>
                <li><a href="room_detail.html">Room detail</a></li>
                <li><a href="room_detail_2.html">Room detail date 2</a></li>
                <li><a href="about.html">About us</a></li>
                <li><a href="faq.html">Faq</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="coming_soon/index.html">Site launch/Coming soon</a></li>
                <li><a href="shortcodes.html">Shortcodes</a></li>
                <li><a href="icon_pack_1.html">Icon pack 1</a></li>
                <li><a href="icon_pack_2.html">Icon pack 2</a></li>
                <li><a href="icon_pack_3.html">Icon pack 3</a></li>
              </ul>
            </li>
            <li><a href="contacts.html">Contacts</a></li>
            <li><a href="#0">Purchase this template</a></li>
          </ul>
        </div><!-- End main-menu -->
      </nav>
    </div><!-- End row -->
  </div><!-- End container -->
</header>
<!-- End Header =============================================== -->

<div id="full-slider-wrapper">
  <div id="layerslider" style="width:100%;height:600px;">
    <!-- first slide -->
    <div class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
      <%= image_tag("villa/villa-1.jpeg", class: "ls-bg", alt: "Slide background") %>
      <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;" >
        <strong>La Villa</strong> - 6 personnes
      </h3>
      <!--<a href="#0" class="btn_slider ls-l" style="top:62%; left:50%;" data-ls="durationin:2000;delayin:1300;easingin:easeOutElastic;" >En savoir plus</a>-->
    </div>

    <!-- second slide -->
    <div class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
      <%= image_tag("slides/slide_2.jpg", class: "ls-bg", alt: "Slide background") %>
      <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;" >It's time for you to <strong>Relax</strong></h3>
      <a href="#0" class="btn_slider ls-l" style="top:62%; left:50%;" data-ls="durationin:2000;delayin:1300;easingin:easeOutElastic;" >Read more</a>
    </div>

    <!-- third slide -->
    <div class="ls-slide" data-ls="slidedelay:5000; transition2d:5;" >
      <%= image_tag("slides/slide_3.jpg", class: "ls-bg", alt: "Slide background") %>
      <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;" ><strong>Large</strong> comfortable Bedrooms</h3>
      <a href="#0" class="btn_slider ls-l" style="top:62%; left:50%;" data-ls="durationin:2000;delayin:1300;easingin:easeOutElastic;" >Read more</a>
    </div>
  </div>
</div><!-- End layerslider -->

<div class="container margin_60_35">
  <h1 class="main_title"><em></em>Welcome to Albert <span>Hotel and Bed&amp;Breakfast</span></h1>
  <p class="lead styled">
    Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie. Sed ad debet scaevola, ne mel lorem legendos. Unum etiam cum te, an elit assueverit vix, falli aliquam complectitur ex ius.
  </p>
  <div class="row">
    <div class="col-sm-6">
      <div class="mosaic_container">
        <%= image_tag("mosaic_1.jpg", class: "img-responsive add_bottom_30") %>
        <span class="caption_2">Nice Outdoor</span>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-12">
        <div class="mosaic_container">
          <%= image_tag("mosaic_2.jpg", class: "img-responsive add_bottom_30") %>
          <span class="caption_2">Large Bedroom</span>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="mosaic_container">
          <%= image_tag("mosaic_3.jpg", class: "img-responsive add_bottom_30") %>
          <span class="caption_2">Modern Bathroom</span>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="mosaic_container">
          <%= image_tag("mosaic_4.jpg", class: "img-responsive add_bottom_30") %>
          <span class="caption_2">Wellness</span>
        </div>
      </div>
    </div>
  </div><!-- End row -->
</div><!-- End container -->

<div class="container_styled_1">
    <div class="container margin_60">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <figure class="room_pic">
                <a href="#">
                  <%= image_tag("villa/villa-chambre-1.jpeg", class: "img-responsive") %>
                </a>
                <!--<span class="wow zoomIn"><sup>$</sup>120<small>Per night</small></span></figure>-->
            </div>
            <div class="col-md-4 col-md-offset-1">
              <div class="room_desc_home">
                <h3>Première chambre</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </p>
                <ul>
                  <li>
                    <div class="tooltip_styled tooltip-effect-4">
                      <span class="tooltip-item"><i class="icon_set_2_icon-104"></i></span>
                      <div class="tooltip-content">
                        Lit double 160 cms
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="tooltip_styled tooltip-effect-4">
                      <span class="tooltip-item"><i class="icon_set_2_icon-118"></i></span>
                      <div class="tooltip-content">
                        Douche et WCs indépendants
                      </div>
                    </div>
                  </li>
                </ul>
                <!--<a href="#0" class="btn_1_outline">Read more</a>-->
              </div><!-- End room_desc_home -->
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</div><!-- End container_styled_1 -->

<div class="container margin_60">
    <div class="row">
        <div class="col-md-5 col-md-offset-1 col-md-push-5">
              <figure class="room_pic left">
              <a href="#">
                <%= image_tag("villa/villa-chambre-2.jpeg", class: "img-responsive") %>
              </a>
              <!--<span class="wow zoomIn"><sup>$</sup>150<small>Per night</small></span></figure>-->
        </div>
        <div class="col-md-4 col-md-offset-1 col-md-pull-6">
            <div class="room_desc_home">
                <h3>Deuxième chambre</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </p>
                <ul>
                  <li>
                    <div class="tooltip_styled tooltip-effect-4">
                      <span class="tooltip-item"><i class="icon_set_2_icon-104"></i></span>
                      <div class="tooltip-content">
                        Lit double 160 cms
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="tooltip_styled tooltip-effect-4">
                      <span class="tooltip-item"><i class="icon_set_2_icon-118"></i></span>
                      <div class="tooltip-content">
                        Douche et WCs indépendants
                      </div>
                    </div>
                  </li>
                </ul>
                <!--<a href="#0" class="btn_1_outline">Read more</a>-->
            </div><!-- End room_desc_home -->
        </div>
    </div><!-- End row -->
</div><!-- End container -->

<div class="container_styled_1">
    <div class="container margin_60">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <figure class="room_pic">
                <a href="#">
                  <%= image_tag("villa/villa-chambre-3.jpeg", class: "img-responsive") %>
                </a>
                <!--<span class="wow zoomIn"><sup>$</sup>190<small>Per night</small></span></figure>-->
            </div>
            <div class="col-md-4 col-md-offset-1">
              <div class="room_desc_home">
                <h3>Troisième chambre</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </p>
                <ul>
                  <li>
                    <div class="tooltip_styled tooltip-effect-4">
                      <span class="tooltip-item"><i class="icon_set_2_icon-104"></i></span>
                      <div class="tooltip-content">
                        Lit double 160 cms
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="tooltip_styled tooltip-effect-4">
                      <span class="tooltip-item"><i class="icon_set_2_icon-118"></i></span>
                      <div class="tooltip-content">
                        Douche et WCs indépendants
                      </div>
                    </div>
                  </li>
                </ul>
                <!--<a href="#0" class="btn_1_outline">Read more</a>-->
                </div><!-- End room_desc_home -->
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</div><!-- End container_styled_1 -->

<section class="promo_full">
<div class="promo_full_wp">
    <div>
        <h3>What Clients say<span>Id tale utinam ius, an mei omnium recusabo iracundia.</span></h3>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="carousel_testimonials">

                        <div>
                            <div class="box_overlay">
                                <div class="pic">
                                    <figure>
                                      <%= image_tag("testimonial_1.jpg", class: "img-circle") %>
                                    </figure>
                                    <h4>Roberta<small>12 October 2015</small></h4>
                                </div>
                                <div class="comment">
                                    "Mea ad postea meliore fuisset. Timeam repudiare id eum, ex paulo dictas elaboraret sed, mel cu unum nostrud. No nam indoctum accommodare, vix ei discere civibus philosophia. Vis ea dicant diceret ocurreret."
                                </div>
                            </div><!-- End box_overlay -->
                        </div>

                        <div>
                            <div class="box_overlay">
                                <div class="pic">
                                    <figure>
                                      <%= image_tag("testimonial_1.jpg", class: "img-circle") %>
                                    </figure>
                                    <h4>Roberta<small>12 October 2015</small></h4>
                                </div>
                                <div class="comment">
                                    "Mea ad postea meliore fuisset. Timeam repudiare id eum, ex paulo dictas elaboraret sed, mel cu unum nostrud. No nam indoctum accommodare, vix ei discere civibus philosophia. Vis ea dicant diceret ocurreret."
                                </div>
                            </div><!-- End box_overlay -->
                        </div>

                        <div>
                            <div class="box_overlay">
                                <div class="pic">
                                    <figure>
                                      <%= image_tag("testimonial_1.jpg", class: "img-circle") %>
                                    </figure>
                                    <h4>Roberta<small>12 October 2015</small></h4>
                                </div>
                                <div class="comment">
                                    "Mea ad postea meliore fuisset. Timeam repudiare id eum, ex paulo dictas elaboraret sed, mel cu unum nostrud. No nam indoctum accommodare, vix ei discere civibus philosophia. Vis ea dicant diceret ocurreret."
                                </div>
                            </div><!-- End box_overlay -->
                        </div>

                    </div><!-- End carousel_testimonials -->
                </div><!-- End col-md-8 -->
            </div><!-- End row -->
        </div><!-- End container -->
    </div><!-- End promo_full_wp -->
</div><!-- End promo_full -->
</section><!-- End section -->

  <footer >
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <%= image_tag("logo_footer.png", size: "141x40", id: "logo_footer", data: { retina: true }) %>
      <ul id="contact_details_footer">
              <li>Route de Sablet 1023, Marseille<br>France 01923</li>
                    <li><a href="tel://004542344599">+45 423 445 99</a> / <a href="#0">info@albert.com</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4">
                <h3>About</h3>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Rooms</a></li>
                    <li><a href="#">Activities</a></li>
                    <li><a href="#">Contact us</a></li>
                      <li><a href="#">Gallery</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-4">
                <h3>Change language</h3>
                <ul>
                    <li><a href="#">English</a></li>
                    <li><a href="#">French</a></li>
                    <li><a href="#">Spanish</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-4"  id="newsletter">
                <h3>Newsletter</h3>
                <p>Join our newsletter to keep be informed about offers and news.</p>
      <div id="message-newsletter_2"></div>
        <form method="post" action="assets/newsletter.php" name="newsletter_2" id="newsletter_2">
                    <div class="form-group">
                        <input name="email_newsletter_2" id="email_newsletter_2"  type="email" value=""  placeholder="Your mail" class="form-control">
                      </div>
                        <input type="submit" value="Subscribe" class="btn_1 white" id="submit-newsletter_2">
                  </form>
            </div>
        </div><!-- End row -->
        <div class="row">
            <div class="col-md-12">
                <div id="social_footer">
                    <ul>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-google"></i></a></li>
                        <li><a href="#"><i class="icon-instagram"></i></a></li>
                        <li><a href="#"><i class="icon-pinterest"></i></a></li>
                        <li><a href="#"><i class="icon-vimeo"></i></a></li>
                        <li><a href="#"><i class="icon-youtube-play"></i></a></li>
                    </ul>
                    <p>© Albert 2019</p>
                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</footer><!-- End footer -->

<div id="toTop"></div><!-- Back to top button -->
<!-- COMMON SCRIPTS -->
<script src="assets/jquery-1.11.2.min.js"></script>
<script src="assets/common_scripts_min.js"></script>
<script src="assets/validate.js"></script>
<script src="assets/functions.js"></script>

<!-- SPECIFIC SCRIPTS -->
<script src="assets/greensock.js"></script>
<script src="assets/layerslider.transitions.js"></script>
<script src="assets/layerslider.kreaturamedia.jquery.js"></script>
<script type="text/javascript">
  $('#layerslider').layerSlider({
    autoStart: true,
    responsive: true,
    responsiveUnder: 1280,
    layersContainer: 1170,
    navButtons:false,
    showCircleTimer:true,
    navStartStop:false,
    skinsPath: 'assets/layerslider/'
  });
</script>
