<div id="full-slider-wrapper">
  <div id="layerslider" style="width:100%;height:600px;">
    <!-- first slide -->
    <div class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
      <%= image_tag("villa/villa-1.jpg", class: "ls-bg", alt: "Slide background") %>
      <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;" >
        <strong>Villa en Provence</strong> (6 pers)
      </h3>
      <!--<a href="#0" class="btn_slider ls-l" style="top:62%; left:50%;" data-ls="durationin:2000;delayin:1300;easingin:easeOutElastic;" >En savoir plus</a>-->
    </div>
  </div>
</div><!-- End layerslider -->

<div class="container margin_60_35">
  <h1 class="main_title"><em></em>La Villa <span>Gîte à Carpentras pour 6 personnes</span></h1>
  <p class="lead styled">
    Villa au calme, entièrement clôturée et sans vis-à-vis.<br>
    Avec piscine et entièrement climatisée!<br><br>

    La Villa se situe à 5 min du centre ville de Carpentras en voiture ou 2 min à pieds, mais aussi à 10km du parc aquatique Wave Island et du parc Spirou. Vous pourrez également profiter du marché provençal de Carpentras, de visiter nos charmants villages (Le Barroux, Gigondas, Gordes, Roussillon..), d'une ballade dans le Mt Ventoux ou tout simplement de la piscine de la Villa.<br><br>
  </p>
  <div class="row">
    <div class="col-sm-6">
      <div class="mosaic_container">
        <%= image_tag("villa/mosaic-1.jpg", class: "img-responsive add_bottom_30") %>
        <span class="caption_2">Espace divertissement</span>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-12">
        <div class="mosaic_container">
          <%= image_tag("villa/mosaic-2.jpg", class: "img-responsive add_bottom_30") %>
          <span class="caption_2">Piscine</span>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="mosaic_container">
          <%= image_tag("villa/mosaic-3.jpg", class: "img-responsive add_bottom_30") %>
          <span class="caption_2">Terrain de Pétanque</span>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="mosaic_container">
          <%= image_tag("villa/mosaic-4.jpg", class: "img-responsive add_bottom_30") %>
          <span class="caption_2">Terrasse</span>
        </div>
      </div>
    </div>
  </div>
</div>

<p class="lead styled">
  La Villa (105 m²) se compose d'un espace de vie (salon-salle à manger et cuisine) et de 3 chambres avec pour chacune sa douche et wc indépendants. Toutes les pièces sont climatisées.<br><br>

  Vous pourrez profiter en extérieur d'une cour de ~800 m², d'un grand terrain de pétanque et d'une piscine.<br><br>

  Un barbecue, table de ping pong et babyfoot seront aussi présents.
</p>

<div class="container_styled_1">
  <div class="container margin_60">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <figure class="room_pic">
          <a href="#">
            <%= image_tag("villa/villa-chambre-1.jpg", class: "img-responsive") %>
          </a>
          <span class="wow zoomIn">3<small>Chambres</small></span>
        </figure>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <div class="room_desc_home">
          <h3>Les Chambres</h3>
          <p>
            Le gîte dispose de 3 grandes chambres avec pour chacune WC et salle de bain indépendants.
          <p>
            Un lit de 160cms, une amoire avec penderie ainsi que la climatisation personnelle.
          </p>
          <ul>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon-snow"></i></span>
                <div class="tooltip-content">
                  Climatisation individuelle
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_2_icon-104"></i></span>
                <div class="tooltip-content">
                  Grand lit double 160 cms
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_2_icon-118"></i></span>
                <div class="tooltip-content">
                  Salle de bain et WC indépendants
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_2_icon-103"></i></span>
                <div class="tooltip-content">
                  Armoire et penderie
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_1_icon-86"></i></span>
                <div class="tooltip-content">
                  Wifi
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container margin_60">
  <div class="row">
    <div class="col-md-5 col-md-offset-1 col-md-push-5">
      <figure class="room_pic left">
        <a href="#">
          <%= image_tag("villa/villa-salon.jpg", class: "img-responsive") %>
        </a>
        <!--<span class="wow zoomIn"><sup>$</sup>150<small>Per night</small></span>-->
      </figure>
    </div>
    <div class="col-md-4 col-md-offset-1 col-md-pull-6">
      <div class="room_desc_home">
        <h3>Le Salon</h3>
        <p>
          Le salon est climatisé et contient un canapé convertible permettant une capacité de 8 personnes.
        </p>
        <p>
          Une TV et des jeux enfants sont aussi présents.
        </p>
        <ul>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class="icon-snow"></i></span>
              <div class="tooltip-content">
                Climatisation
              </div>
            </div>
          </li>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class="icon_set_2_icon-116"></i></span>
              <div class="tooltip-content">
                Télévision
              </div>
            </div>
          </li>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class=" icon_set_2_icon-112"></i></span>
              <div class="tooltip-content">
                Canapé convertible (2 pers)
              </div>
            </div>
          </li>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class="icon_set_1_icon-86"></i></span>
              <div class="tooltip-content">
                Wifi
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container_styled_1">
  <div class="container margin_60">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <figure class="room_pic">
        <a href="#">
          <%= image_tag("villa/villa-cuisine.jpg", class: "img-responsive") %>
        </a>
        <!--<span class="wow zoomIn"><sup>$</sup>190<small>Per night</small></span>-->
        </figure>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <div class="room_desc_home">
          <h3>La Cuisine</h3>
          <p>
            La cuisine est équipée et contient tout le nécessaire pour 6 personnes.
            Plats & casseroles, assiettes & couverts, ustensiles de cuisine.
          </p>
          <p>
            Frigo, four, micro ondes, machine à café, bouilloire ainsi au'un lave vaisselle sont aussi sur place.
          </p>
          <ul>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon-snow"></i></span>
                <div class="tooltip-content">
                  Climatisation
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_1_icon-58"></i></span>
                <div class="tooltip-content">
                  Plats & Ustensiles de cuisine
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_1_icon-59"></i></span>
                <div class="tooltip-content">
                  Machine à café & Bouilloire
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_1_icon-86"></i></span>
                <div class="tooltip-content">
                  Wifi
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="promo_full">
  <div class="promo_full_wp">
    <div>
      <h3>Ce que nos clients disent<span>Derniers commentaires d'Airbnb</span></h3>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="carousel_testimonials">
              <div>
                <div class="box_overlay">
                  <div class="pic">
                    <figure>
                      <%= image_tag("villa/testimonial_1.jpg", class: "img-circle") %>
                    </figure>
                    <h4>Mathieu<small>Juin 2022</small></h4>
                  </div>
                  <div class="comment">
                    "À peine le portail franchi que l’on se sent directement bien et en vacances !"
                  </div>
                </div>
              </div>

              <div>
                <div class="box_overlay">
                  <div class="pic">
                    <figure>
                      <%= image_tag("villa/testimonial_2.jpg", class: "img-circle") %>
                    </figure>
                    <h4>Denis<small>Juin 2022</small></h4>
                  </div>
                  <div class="comment">
                    "Excellent séjour dans cette maison propre et fonctionnelle. Belle piscine et tout ce qu'il faut pour passer un bon séjour, nous avons également apprécié que chaque chambre dispose de sa salle de bains et wc ce qui permet de garder son indépendance. Hôtes accueillants et disponibles. En résumé le top à conseiller!"
                  </div>
                </div>
              </div>

              <div>
                <div class="box_overlay">
                  <div class="pic">
                    <figure>
                      <%= image_tag("villa/testimonial_3.jpg", class: "img-circle") %>
                    </figure>
                    <h4>Davy<small>Juin 2021</small></h4>
                  </div>
                  <div class="comment">
                    "Très agréable séjour, hôte très accueillant et sympathique. Logement idéal et conforme aux descriptions, 3 grandes chambres avec salle de bain et extérieur parfait pour partager. Merci!"
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
