<section class="promo_full bnbs">
  <div class="promo_full_wp">
    <div>
      <h3>
        <%= t("testimonials.title") %>
        <span><%= t("testimonials.subtitle") %></span>
      </h3>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="carousel_testimonials">
              <div>
                <div class="box_overlay">
                  <div class="pic">
                    <figure>
                      <%= image_tag("bnbs/testimonials/testimonial-1.jpg", class: "img-circle") %>
                    </figure>
                    <h4>Sabrina<small>Mai 2025</small></h4>
                  </div>
                  <div class="comment">
                    <br>"A perfect accommodation for cycling trips in the surrounding area. The landlords are super friendly but unobtrusive and brought us a delicious French breakfast with fruit and yogurt every morning. The pool is very well maintained and there are comfortable loungers. We had our bikes with us and after a few meters we were already on the railway cycle path and could do various tours from there. We can fully recommend this accommodation."<br><br>
                  </div>
                </div>
              </div>

              <div>
                <div class="box_overlay">
                  <div class="pic">
                    <figure>
                      <%= image_tag("bnbs/testimonials/testimonial-2.jpg", class: "img-circle") %>
                    </figure>
                    <h4>Jürgen<small>Juin 2025</small></h4>
                  </div>
                  <div class="comment">
                    "We felt very comfortable. Very quiet studio with everything you need and a beautiful pool. Friendly hosts who stayed in the background."
                  </div>
                </div>
              </div>

              <div>
                <div class="box_overlay">
                  <div class="pic">
                    <figure>
                      <%= image_tag("bnbs/testimonials/testimonial-3.jpg", class: "img-circle") %>
                    </figure>
                    <h4>Alexander<small>Septembre 2024</small></h4>
                  </div>
                  <div class="comment">
                    "Exceptional! Very comportable cottage, very friendly owners, good breakfast, proximity to main wine villages"
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
