<div id="full-slider-wrapper">
  <div id="layerslider" style="width:100%;height:600px;">
    <div class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
      <%= image_tag("bnbs/piscine.jpg", class: "ls-bg", alt: t("seo.alt.bnbs_main")) %>
      <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;" >
        <strong><%= t("bnbs.title") %></strong> (<%= t("bnbs.two_people") %>)
      </h3>
      <!--<a href="#0" class="btn_slider ls-l" style="top:62%; left:50%;" data-ls="durationin:2000;delayin:1300;easingin:easeOutElastic;" >En savoir plus</a>-->
    </div>
  </div>
</div>

<div class="container margin_60_35">
  <h1 class="main_title">
    <em></em>
    <%= t("bnbs.independent_studios") %>
    <span><%= t("bnbs.bnbs_in_carpentras") %></span>
  </h1>
  <p class="lead styled">
    <%= t("bnbs.description.first") %><br><br>
    <%= t("bnbs.description.second") %><br><br>
    <%= t("bnbs.description.third") %>
  </p>
</div>

<div class="container_styled_1">
  <div class="container margin_60">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <figure class="room_pic">
          <a href="#">
            <%= image_tag("bnbs/cabanon/cabanon-1.jpg", class: "img-responsive", alt: t("seo.alt.cabanon")) %>
          </a>
          <span class="wow zoomIn">
            <i class="icon_set_1_icon-46"></i><br>
            <small><%= t("bnbs.cabanon.pool_view").capitalize %></small>
          </span>
        </figure>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <div class="room_desc_home">
          <h3><%= t("common.studio_cabanon") %></h3>
          <p><%= t("bnbs.cabanon.description.first") %></p>
          <p><%= t("bnbs.cabanon.description.second") %></p>
          <p><%= t("bnbs.cabanon.description.third") %></p>

          <ul>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon-snow"></i></span>
                <div class="tooltip-content">
                  <%= t("common.individual_air_conditioning") %>
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_2_icon-104"></i></span>
                <div class="tooltip-content">
                  <%= t("common.large_double_bed") %>
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_2_icon-118"></i></span>
                <div class="tooltip-content">
                  <%= t("villa.rooms.independant_bathroom") %>
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_2_icon-103"></i></span>
                <div class="tooltip-content">
                  <%= t("villa.rooms.wardrobe") %>
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_1_icon-86"></i></span>
                <div class="tooltip-content">
                  <%= t("villa.rooms.free_wifi") %>
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_1_icon-58"></i></span>
                <div class="tooltip-content">
                  <%= t("bnbs.free_breakfast") %>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container margin_60">
  <div class="row">
    <div class="col-md-5 col-md-offset-1 col-md-push-5">
      <figure class="room_pic left">
          <a href="#">
            <%= image_tag("bnbs/roseraie/roseraie-1.jpg", class: "img-responsive", alt: t("seo.alt.roseraie")) %>
          </a>
          <span class="wow zoomIn">
            <i class="icon_set_1_icon-46"></i><br>
            <small><%= t("bnbs.roseraie.garden_view").capitalize %></small>
          </span>
        </figure>
    </div>
    <div class="col-md-4 col-md-offset-1 col-md-pull-6">
      <div class="room_desc_home">
        <h3><%= t("common.studio_roseraie") %></h3>
        <p><%= t("bnbs.roseraie.description.first") %></p>
        <p><%= t("bnbs.roseraie.description.second") %></p>
        <p><%= t("bnbs.roseraie.description.third") %></p>

        <ul>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class="icon-snow"></i></span>
              <div class="tooltip-content">
                <%= t("common.individual_air_conditioning") %>
              </div>
            </div>
          </li>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class="icon_set_2_icon-104"></i></span>
              <div class="tooltip-content">
                <%= t("common.large_double_bed") %>
              </div>
            </div>
          </li>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class="icon_set_2_icon-118"></i></span>
              <div class="tooltip-content">
                <%= t("villa.rooms.independant_bathroom") %>
              </div>
            </div>
          </li>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class="icon_set_2_icon-103"></i></span>
              <div class="tooltip-content">
                <%= t("villa.rooms.wardrobe") %>
              </div>
            </div>
          </li>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class="icon_set_1_icon-86"></i></span>
              <div class="tooltip-content">
                <%= t("villa.rooms.free_wifi") %>
              </div>
            </div>
          </li>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class="icon_set_1_icon-58"></i></span>
              <div class="tooltip-content">
                <%= t("bnbs.free_breakfast") %>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container_styled_1 margin_30">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3><%= t("common.prices") %></h3>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td><%= t("common.studio_roseraie") %> (<%= t("common.bnbs.roseraie.garden_view") %>)</td>
            <td>120€ / <%= t("common.night") %> (<%= t("common.min_two_nights") %>)</td>
          </tr>
          <tr>
            <td><%= t("common.studio_cabanon") %> (<%= t("common.bnbs.cabanon.pool_view") %>)</td>
            <td>130€ / <%= t("common.night") %> (<%= t("common.min_two_nights") %>)</td>
          </tr>
        </tbody>
      </table>

      <p class="text-right">
        *<%= t("bnbs.included_towels_and_cleaning") %><br/>
        *<%= link_to t("common.tourist_tax"), "https://lacove.taxesejour.fr", target: "_blank" %> (<%= t("common.extra") %>) : 0.70€ / <%= t("common.night") %> / pers
      </p>
    </div>
  </div>
</div>

<%= render "bnbs/testimonials" %>
