<div id="full-slider-wrapper">
  <div id="layerslider" style="width:100%;height:600px;">
    <div class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
      <%= image_tag("bnbs/piscine.jpg", class: "ls-bg", alt: "Slide background") %>
      <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;" >
        <strong>Studios en Provence</strong> (2 pers)
      </h3>
      <!--<a href="#0" class="btn_slider ls-l" style="top:62%; left:50%;" data-ls="durationin:2000;delayin:1300;easingin:easeOutElastic;" >En savoir plus</a>-->
    </div>
  </div>
</div>

<div class="container margin_60_35">
  <h1 class="main_title"><em></em>Studios Indépendants<span>Chambres d'hôtes à Carpentras</span></h1>
  <p class="lead styled">
    Ancienne ferme rénovée "Les Célestins" sur l'exploitation maraîchère familiale (fraises), qui se compose d'un bâtiment principal, La Ferme que nous occupons et de 2 studios Le Cabanon et La Roseraie.
    <br><br>
    Nous sommes situés à 5 min du centre de Carpentras en voiture et 15 min à pieds.
    <br><br>
    Vous pourrez profiter du marché provencal du vendredi, visiter notre beau Vaucluse et ses villages, sortir en famille aux parcs Spirou ou Wave Island (7km), découvrir le Mt Ventoux ou profiter tout simplement de la Piscine de la Ferme..
  </p>
</div>

<div class="container_styled_1">
  <div class="container margin_60">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <figure class="room_pic">
          <a href="#">
            <%= image_tag("bnbs/cabanon/cabanon-1.jpg", class: "img-responsive") %>
          </a>
          <span class="wow zoomIn">
            <i class="icon_set_1_icon-46"></i><br>
            <small>Vue Piscine</small>
          </span>
        </figure>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <div class="room_desc_home">
          <h3>Studio Le Cabanon</h3>
          <p>
            Ce studio (d'environ 25m²) se compose d'un coin cuisine, d'un lit en 160cms, d'une douche et d'un wc indépendant.
          </p>
          <p>
            La climatisation est présente et vous disposerez d'une terrasse ombragée avec barbecue.
          </p>
          <p>
            Draps, serviettes et petits déjeuners compris.
          </p>
          <ul>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon-snow"></i></span>
                <div class="tooltip-content">
                  Climatisation individuelle
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_2_icon-104"></i></span>
                <div class="tooltip-content">
                  Grand lit double 160 cms
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_2_icon-118"></i></span>
                <div class="tooltip-content">
                  Salle de bain et WC indépendants
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_2_icon-103"></i></span>
                <div class="tooltip-content">
                  Armoire et penderie
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_1_icon-86"></i></span>
                <div class="tooltip-content">
                  Wifi gratuit
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_1_icon-58"></i></span>
                <div class="tooltip-content">
                  Petit déjeuner compris
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container margin_60">
  <div class="row">
    <div class="col-md-5 col-md-offset-1 col-md-push-5">
      <figure class="room_pic left">
          <a href="#">
            <%= image_tag("bnbs/roseraie/roseraie-1.jpg", class: "img-responsive") %>
          </a>
          <span class="wow zoomIn">
            <i class="icon_set_1_icon-46"></i><br>
            <small>Vue Jardin</small>
          </span>
        </figure>
    </div>
    <div class="col-md-4 col-md-offset-1 col-md-pull-6">
      <div class="room_desc_home">
        <h3>Studio La Roseraie</h3>
        <p>
          Ce studio (d'environ 25m²) se compose d'un coin cuisine, d'un lit en 160cms, d'une douche et d'un wc indépendant.
        </p>
        <p>
          La climatisation est présente et vous disposerez d'une terrasse ombragée avec barbecue.
        </p>
        <p>
          Draps, serviettes et petits déjeuners compris.
        </p>
        <ul>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class="icon-snow"></i></span>
              <div class="tooltip-content">
                Climatisation individuelle
              </div>
            </div>
          </li>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class="icon_set_2_icon-104"></i></span>
              <div class="tooltip-content">
                Grand lit double 160 cms
              </div>
            </div>
          </li>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class="icon_set_2_icon-118"></i></span>
              <div class="tooltip-content">
                Salle de bain et WC indépendants
              </div>
            </div>
          </li>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class="icon_set_2_icon-103"></i></span>
              <div class="tooltip-content">
                Armoire et penderie
              </div>
            </div>
          </li>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class="icon_set_1_icon-86"></i></span>
              <div class="tooltip-content">
                Wifi gratuit
              </div>
            </div>
          </li>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class="icon_set_1_icon-58"></i></span>
              <div class="tooltip-content">
                Petit déjeuner compris
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container_styled_1 margin_30">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Tarifs Cabanon</h3>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Haute Saison - Juillet & Août</td>
            <td>740€ / semaine</td>
          </tr>
          <tr>
            <td>Autres Périodes</td>
            <td>100€ / nuit (2 nuits minimum)</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <h3>Tarifs Roseraie</h3>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Haute Saison - Juillet & Août</td>
            <td>700€ / semaine</td>
          </tr>
          <tr>
            <td>Autres Périodes</td>
            <td>95€ / nuit (2 nuits minimum)</td>
          </tr>
        </tbody>
      </table>

      <p class="text-right">
        *Ménage de fin de séjour compris<br/>
        *<%= link_to "Taxe de séjour", "https://lacove.taxesejour.fr", target: "_blank" %> (en sus) : 0.70€ / nuit / pers
      </p>
    </div>
  </div>
</div>

<%= render "bnbs/testimonials" %>
