<section class="kenburns_slider_wp ">
  <div class="kenburns_slider">
    <div id="subheader_home">
      <div id="sub_content">
        <h3 class="caption_header">
          <strong><%= t("home.slider.first") %></strong><br>
          <%= t("home.slider.second") %>
        </h3>
        <p><%= link_to t("common.contact_us"), new_contact_path, class: "btn_slider btn_scroll" %></p>
      </div>
    </div>
  </div>
</section>

<div class="container margin_60_35">
  <div class="row add_top_20">
    <h1 class="main_title"><%= t("home.title") %><span>Carpentras - Vaucluse - Provence</span></h1>
    <p class="lead styled" style="margin-bottom:0">
      <%= t("home.lead.villa") %><span><%= t("common.the_villa") %></span>
      <br><br>
      <%= t("home.lead.bnbs") %><span><%= t("common.the_cabanon_and_the_roseraie") %></span>
    </p>
  </div>
</div>

<div class="container">
  <div class="row add_top_20">
    <div class="col-sm-6">
      <div class="mosaic_container">
        <figure class="room_pic">
          <%= link_to villa_path do %>
            <%= image_tag("villa/homepage.jpg", class: "img-responsive add_bottom_30", alt: t("seo.alt.villa_homepage")) %>
          <% end %>
          <span class="caption_1" style="right:0;"><%= t("common.the_villa_upcase") %></span>
        </figure>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="mosaic_container">
        <figure class="room_pic">
          <%= link_to chambres_hotes_path do %>
            <%= image_tag("bnbs/homepage.jpg", class: "img-responsive add_bottom_30", alt: t("seo.alt.bnbs_homepage")) %>
          <% end %>
          <span class="caption_1" style="width:150px; right:0"><%= t("common.the_studios_upcase") %></span>
        </figure>
      </div>
    </div>
  </div>
</div>

<div class="container_styled_1">
  <div class="container margin_60">
    <div class="row">
      <div class="col-sm-6">
        <h2 style="margin-top: 0px"><%= t("home.awards.title") %></h2>
        <p><%= t("home.awards.first") %></p>
        <p style="margin-bottom: 0px"><%= t("home.awards.second") %></p>
      </div>
      <div class="col-sm-3">
        <%= link_to "https://www.airbnb.com/users/show/115617715", target: "_blank" do %>
          <%= image_tag("airbnb-superhost.png", class: "img-responsive", style: "margin:auto", alt: t("seo.alt.airbnb_superhost")) %>
        <% end %>
        <%= link_to "https://www.booking.com/hotel/fr/les-celestins-chambres-d-hotes.fr.html", target: "_blank" do %>
          <%= image_tag("bnbs/booking-award.png", class: "img-responsive", style: "margin:auto", alt: t("seo.alt.booking_award_bnbs")) %>
        <% end %>
      </div>
      <div class="col-sm-3">
        <%= link_to "https://www.booking.com/hotel/fr/les-celestins-chambres-d-hotes.fr.html", target: "_blank" do %>
          <%= image_tag("villa/booking-award.png", class: "img-responsive", style: "margin:auto", alt: t("seo.alt.booking_award_villa")) %>
        <% end %>
        <%= link_to "https://www.google.com/travel/hotels/s/EWE6oi1CVT6c7ffr8", target: "_blank" do %>
          <%= image_tag("google-avis-client.png", class: "img-responsive", style: "margin:auto", alt: t("seo.alt.google_reviews")) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
