<div class="container margin_60_35">
  <div class="row add_top_20">
    <h1 class="main_title">Gîtes & Chambres d'Hôtes<span>Carpentras - Provence</span></h1>
    <p class="lead styled" style="margin-bottom:0">
      Deux gîtes de charme, chacun pour 6 personnes: La Villa & La Maison!
      <br><br>
      Deux studios équipés et indépendants en chambres d'hôtes: Le Cabanon & La Roseraie!
    </p>
  </div>
</div>

<div class="container">
  <div class="row add_top_20">
    <div class="col-sm-6">
      <div class="mosaic_container">
        <figure class="room_pic">
          <%= link_to villa_path do %>
            <%= image_tag("villa/homepage.jpg", class: "img-responsive add_bottom_30") %>
          <% end %>
          <span class="caption_1" style="right:0;">La VILLA</span>
        </figure>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="mosaic_container">
        <figure class="room_pic">
          <%= link_to chambres_hotes_path do %>
            <%= image_tag("bnbs/homepage.jpg", class: "img-responsive add_bottom_30") %>
          <% end %>
          <span class="caption_1" style="width:150px; right:0">Les Studios</span>
        </figure>
      </div>
    </div>
  </div>
</div>

<div class="container_styled_1">
  <div class="container margin_60">
    <div class="row">
      <div class="col-sm-6">
        <h2 style="margin-top: 0px">Nos Récompenses - Gage De Qualité</h2>
        <p>Nous essayons de faire le maximum pour que vous passiez un agréable séjour!</p>
        <p style="margin-bottom: 0px">Et grace à vous, voici les dernières récompenses reçues sur les plateformes Airbnb, Booking et Google.</p>
      </div>
      <div class="col-sm-2">
        <%= link_to "https://www.airbnb.com/users/show/115617715", target: "_blank" do %>
          <%= image_tag("airbnb-superhost.png", class: "img-responsive", style: "margin:auto") %>
        <% end %>
      </div>
      <div class="col-sm-2">
        <%= link_to "https://www.booking.com/hotel/fr/les-celestins-chambres-d-hotes.fr.html", target: "_blank" do %>
          <%= image_tag("booking-award.png", class: "img-responsive", style: "margin:auto") %>
        <% end %>
      </div>
      <div class="col-sm-2">
        <%= link_to "https://www.google.com/travel/hotels/s/EWE6oi1CVT6c7ffr8", target: "_blank" do %>
          <%= image_tag("google-avis-client.png", class: "img-responsive", style: "margin:auto") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
