<div class="container_styled_1">
  <div class="container margin_60">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <figure class="room_pic">
          <a href="#">
            <%= image_tag("villa/gallery/800x533/deuxieme-chambre-1.jpg", class: "img-responsive") %>
          </a>
          <span class="wow zoomIn">
            3
            <small><%= t("common.rooms") %></small>
          </span>
        </figure>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <div class="room_desc_home">
          <h3><%= t("common.the_rooms") %></h3>
          <p><%= t("villa.rooms.description.first") %></p>
          <p><%= t("villa.rooms.description.second") %></p>
          <p><%= t("common.included_towels") %></p>
          <ul>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon-snow"></i></span>
                <div class="tooltip-content">
                  <%= t("common.individual_air_conditioning") %>
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_2_icon-104"></i></span>
                <div class="tooltip-content">
                  <%= t("common.large_double_bed") %>
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_2_icon-118"></i></span>
                <div class="tooltip-content">
                  <%= t("common.independant_bathroom") %>
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_2_icon-103"></i></span>
                <div class="tooltip-content">
                  <%= t("common.wardrobe") %>
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_1_icon-86"></i></span>
                <div class="tooltip-content">
                  <%= t("common.free_wifi") %>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container margin_60">
  <div class="row">
    <div class="col-md-5 col-md-offset-1 col-md-push-5">
      <figure class="room_pic left">
        <a href="#">
          <%= image_tag("villa/gallery/800x533/salon.jpg", class: "img-responsive") %>
        </a>
        <!--<span class="wow zoomIn"><sup>$</sup>150<small>Per night</small></span>-->
      </figure>
    </div>
    <div class="col-md-4 col-md-offset-1 col-md-pull-6">
      <div class="room_desc_home">
        <h3><%= t("villa.living_room.title") %></h3>
        <p><%= t("villa.living_room.description.first") %></p>
        <p><%= t("villa.living_room.description.second") %></p>
        <ul>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class="icon-snow"></i></span>
              <div class="tooltip-content">
                <%= t("common.air_conditioning") %>
              </div>
            </div>
          </li>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class="icon_set_2_icon-116"></i></span>
              <div class="tooltip-content">
                <%= t("common.television") %>
              </div>
            </div>
          </li>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class="icon_set_1_icon-86"></i></span>
              <div class="tooltip-content">
                <%= t("common.wifi") %>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container_styled_1">
  <div class="container margin_60">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <figure class="room_pic">
        <a href="#">
          <%= image_tag("villa/gallery/800x533/cuisine.jpg", class: "img-responsive") %>
        </a>
        <!--<span class="wow zoomIn"><sup>$</sup>190<small>Per night</small></span>-->
        </figure>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <div class="room_desc_home">
          <h3><%= t("villa.kitchen.title") %></h3>
          <p><%= t("villa.kitchen.description.first") %></p>
          <p><%= t("villa.kitchen.description.second") %></p>
          <ul>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon-snow"></i></span>
                <div class="tooltip-content">
                  <%= t("common.air_conditioning") %>
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_1_icon-58"></i></span>
                <div class="tooltip-content">
                  <%= t("villa.kitchen.dishes") %>
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_1_icon-59"></i></span>
                <div class="tooltip-content">
                  <%= t("villa.kitchen.coffee_machine") %>
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_1_icon-86"></i></span>
                <div class="tooltip-content">
                  <%= t("common.wifi") %>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
