<section class="promo_full villa">
  <div class="promo_full_wp">
    <div>
      <h3>
        <%= t("testimonials.title") %>
        <span><%= t("testimonials.subtitle") %></span>
      </h3>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="carousel_testimonials">
              <div>
                <div class="box_overlay">
                  <div class="pic">
                    <figure>
                      <%= image_tag("villa/testimonial_3.jpg", class: "img-circle") %>
                    </figure>
                    <h4>Raoul<small>Juin 2025</small></h4>
                  </div>
                  <div class="comment">
                    "Tout était génial ! Immense propriété avec 3 chambres, une piscine, une terrasse, un terrain de pétanque. Cuisine tout équipée, chambres tout confort. Un grand merci aux propriétaires, qui se sont d’ailleurs rendus disponibles plusieurs fois lorsque nous avions des questions. Je recommande les yeux fermés !"
                  </div>
                </div>
              </div>

              <div>
                <div class="box_overlay">
                  <div class="pic">
                    <figure>
                      <%= image_tag("villa/testimonial_2.jpg", class: "img-circle") %>
                    </figure>
                    <h4>Sarah<small>Août 2024</small></h4>
                  </div>
                  <div class="comment">
                    <br>"Superbe maison avec des équipements de qualité. Nous avons passé 15 jours en famille avec nos 4 enfants. La table de ping pong, le baby-foot et la piscine étaient au top! Chacun avait son espace et sa propre salle de bain. Maison idéale pour de très belles vacances ! Emmanuelle et son mari étaient très réactifs et chaleureux. Nous recommandons sans hésiter !"
                  </div>
                </div>
              </div>

              <div>
                <div class="box_overlay">
                  <div class="pic">
                    <figure>
                      <%= image_tag("villa/testimonial_1.jpg", class: "img-circle") %>
                    </figure>
                    <h4>Fabrice<small>Mai 2024</small></h4>
                  </div>
                  <div class="comment">
                    "Au calme, sans vis à vis et parfaitement indépendante cette maison est idéale pour passer d’heureux moments en famille ou entre amis, en alternant entre farniente et activités extérieures mises à disposition. Maison simple et fonctionnelle avec salle de bain et climatisation réversible dans chaque chambre. Extérieur joliment aménagé avec grand espace de parking. Emmanuelle et son mari sont vraiment sympathiques, réactifs et très discrets."
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
