<header>
  <div class="container">
    <div class="row">
      <div class="col--md-3 col-sm-3 col-xs-3">
        <%= link_to root_path, id: 'logo' do %>
          <%= image_tag("logo/logo.png", size: "190x23", data: { retina: true }) %>
        <% end %>
      </div>
      <nav class="col--md-9 col-sm-9 col-xs-9">
        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);">
          <span><%= t("header.mobile_menu") %>Menu mobile</span>
        </a>
        <ul id="lang_top">
          <li><%= link_to 'FR', url_for(locale: 'fr'), class: ('active' if I18n.locale == :fr) %></li>
          <li><%= link_to 'EN', url_for(locale: 'en'), class: ('active' if I18n.locale == :en) %></li>
        </ul>
        <div class="main-menu">
          <div id="header_menu">
            <%= image_tag("logo/logo.png", size: "193x55", data: { retina: true }) %>
          </div>
          <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
          <ul>
            <li><%= link_to t("common.home"), root_path %></li>
            <li><%= link_to t("common.the_bnbs"), chambres_hotes_path %></li>
            <li><%= link_to t("common.the_villa"), villa_path %></li>
            <li><%= link_to t("common.contact_us"), new_contact_path %></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
