<!DOCTYPE html>
<html>
  <head>
    <title><%= t('common.gites_and_bnbs_les_celestins') %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="hotel, gite, bed and breakfast, accommodations, vaucluse, provence, carpentras">

    <link rel="alternate" hreflang="fr" href="https://giteslescelestins.com?locale=fr">
    <link rel="alternate" hreflang="en" href="https://giteslescelestins.com?locale=en">
    <meta name="description" lang="fr" content="<%= t('meta.description') %>">

    <link rel="canonical" href="https://giteslescelestins.com/">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700" %>
    <%= javascript_importmap_tags %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-33NHN4SLS8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-33NHN4SLS8');
    </script>
  </head>

  <body>
    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->

    <!--<div id="preloader">
    <div data-loader="circle-side"></div>
    </div>--><!-- End Preload -->

    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>

    <!-- COMMON SCRIPTS -->
    <%= javascript_include_tag "/assets/jquery-1.11.2.min.js" %>
    <%= javascript_include_tag "/assets/common_scripts_min.js" %>
    <%= javascript_include_tag "/assets/validate.js" %>
    <%= javascript_include_tag "/assets/functions.js" %>

    <!-- SPECIFIC SCRIPTS -->
    <%= javascript_include_tag "/assets/greensock.js" %>
    <%= javascript_include_tag "/assets/layerslider.transitions.js" %>
    <%= javascript_include_tag "/assets/layerslider.kreaturamedia.jquery.js" %>
    <%= javascript_include_tag "/assets/vegas.js" %>
    <script type="text/javascript">
      if ($('#layerslider').length > 0) {
        $('#layerslider').layerSlider({
          autoStart: true,
          responsive: true,
          responsiveUnder: 1280,
          layersContainer: 1170,
          navButtons:false,
          showCircleTimer:true,
          navStartStop:false,
          skinsPath: '/assets/layerslider/'
        });
      }
    </script>
    <!-- Kenburns Slider -->
    <script>
      $(function() {
        "use strict";
        $('.kenburns_slider').vegas({
          slides: [
            { src: '/assets/slides/ventoux.jpg' },
            { src: '/assets/slides/carpentras.jpg' },
            { src: '/assets/slides/gordes.jpg' },
            { src: '/assets/slides/ocres.jpg' },
            { src: '/assets/slides/lavandes.jpg' },
            { src: '/assets/slides/isle-sur-la-sorgue.jpg' }
          ],
          overlay: false,
          transition: 'fade2',
          animation: 'kenburns',
          transitionDuration: 1000,
          delay: 6000,
          animationDuration: 30000
        });
      });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdD97c8kh_3uzUXIVmWQ5HX3iLgXIfdmw&sensor=false"></script>
    <script type="text/javascript" src="/assets/mapmarker.jquery.js"></script>
    <script type="text/javascript" src="/assets/mapmarker_func.jquery.js"></script>
  </body>
</html>
