<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <%= canonical_and_hreflangs %>

    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="keywords" content="<%= meta_keywords %>">

    <%= open_graph_tags %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= structured_data %>

    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <!-- GLightbox CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-33NHN4SLS8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-33NHN4SLS8');
    </script>
  </head>

  <body>
    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->

    <!--<div id="preloader">
    <div data-loader="circle-side"></div>
    </div>--><!-- End Preload -->

    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>

    <!-- COMMON SCRIPTS -->
    <%= javascript_include_tag "jquery-1.11.2.min" %>
    <%= javascript_include_tag "common_scripts_min", defer: true %>
    <%= javascript_include_tag "validate" %>
    <%= javascript_include_tag "functions" %>

    <!-- SPECIFIC SCRIPTS -->
    <%= javascript_include_tag "greensock" %>
    <%= javascript_include_tag "layerslider.transitions" %>
    <%= javascript_include_tag "layerslider.kreaturamedia.jquery" %>
    <%= javascript_include_tag "vegas" %>
    <script type="text/javascript">
      if ($('#layerslider').length > 0) {
        $('#layerslider').layerSlider({
          autoStart: true,
          responsive: true,
          responsiveUnder: 1280,
          layersContainer: 1170,
          navButtons:false,
          showCircleTimer:true,
          navStartStop:false,
          skinsPath: '/assets/layerslider/'
        });
      }
    </script>
    <!-- Kenburns Slider -->
    <script>
      $(function() {
        "use strict";
        $('.kenburns_slider').vegas({
          slides: [
            { src: '/assets/slides/ventoux.jpg' },
            { src: '/assets/slides/carpentras.jpg' },
            { src: '/assets/slides/gordes.jpg' },
            { src: '/assets/slides/ocres.jpg' },
            { src: '/assets/slides/lavandes.jpg' },
            { src: '/assets/slides/isle-sur-la-sorgue.jpg' }
          ],
          overlay: false,
          transition: 'fade2',
          animation: 'kenburns',
          transitionDuration: 1000,
          delay: 6000,
          animationDuration: 30000
        });
      });
    </script>
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script>
      $(function() {
        if (document.getElementById('map')) {
          var lat = 44.05729107816163;
          var lng = 5.025749021901367;
          var map = L.map('map').setView([lat, lng], 15);
          L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
          }).addTo(map);
          L.marker([lat, lng]).addTo(map)
            .bindPopup('<div style="text-align:center;"><strong>Gîtes & Chambres d\'Hôtes Les Célestins</strong><br>26 Chemin Traversier de Lira<br>84200 Carpentras<br><a href="https://www.google.com/maps/dir/?api=1&destination=' + lat + ',' + lng + '" target="_blank" style="display:inline-block;margin-top:8px;padding:5px 10px;background:#ed5434;color:#fff;text-decoration:none;border-radius:3px;font-size:12px;">Itinéraire</a></div>')
            .openPopup();
        }
      });
    </script>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- GLightbox JS -->
    <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
    <script>
      $(function() {
        // Initialize Swiper galleries
        document.querySelectorAll('.gallery-swiper').forEach(function(el) {
          var swiper = new Swiper(el, {
            slidesPerView: 1,
            spaceBetween: 0,
            loop: true,
            autoHeight: true,
            pagination: {
              el: el.querySelector('.swiper-pagination'),
              clickable: true,
            },
            navigation: {
              nextEl: el.querySelector('.swiper-button-next'),
              prevEl: el.querySelector('.swiper-button-prev'),
            },
            on: {
              init: function() {
                // Force width constraints after Swiper sets its inline styles
                el.style.maxWidth = '800px';
                el.style.width = '100%';
                var wrapper = el.querySelector('.swiper-wrapper');
                if (wrapper) {
                  wrapper.style.maxWidth = '800px';
                  wrapper.style.width = '100%';
                }
              },
              resize: function() {
                // Re-apply on resize
                el.style.maxWidth = '800px';
                el.style.width = '100%';
                var wrapper = el.querySelector('.swiper-wrapper');
                if (wrapper) {
                  wrapper.style.maxWidth = '800px';
                  wrapper.style.width = '100%';
                }
              }
            }
          });
        });

        // Initialize Studio Swipers (B&B page)
        document.querySelectorAll('.studio-swiper').forEach(function(el) {
          new Swiper(el, {
            slidesPerView: 1,
            spaceBetween: 0,
            loop: true,
            navigation: {
              nextEl: el.querySelector('.swiper-button-next'),
              prevEl: el.querySelector('.swiper-button-prev'),
            }
          });
          // Force arrow color
          el.style.setProperty('--swiper-navigation-color', '#fff');
          // Force z-index on room_pic span
          var roomPic = el.closest('.room_pic');
          if (roomPic) {
            var span = roomPic.querySelector('span.wow');
            if (span) {
              span.style.zIndex = '10';
            }
          }
        });

        // Initialize Testimonials Swipers
        document.querySelectorAll('.testimonials-swiper').forEach(function(el) {
          new Swiper(el, {
            slidesPerView: 1,
            spaceBetween: 30,
            loop: true,
            autoplay: { delay: 5000 },
            pagination: {
              el: el.querySelector('.swiper-pagination'),
              clickable: true,
            }
          });
        });

        // Initialize GLightbox
        if (document.querySelector('.glightbox')) {
          GLightbox({ selector: '.glightbox', touchNavigation: true, loop: true });
        }
      });
    </script>
  </body>
</html>
